<h1>profile</h1>
<h1><%= @user.username %></h1>
<h1>Contact: <%= @user.email %></h1>
<% if @events.any? %>
    <% @events.each do |event| %>
        <br>
    <div>
        <p>Title: <%= event.title %></p>
        <p>Description: <%= event.description %></p>
        <p>Date: <%= event.date %></p>
        <p>Time: <%= event.time %></p>
    </div>
    <% end %>
<% end %>