<div class="user-profile-container">
    <h1><%= @user.username %></h1>
    <h1>Contact: <%= @user.email %></h1>
    <% if @user == current_user %>
        <%= link_to "Edit profile", edit_user_registration_path, class: "edit-btn" %>
    <% end %>
    <% if @events.any? %>
        <p>Events <%= @user.username%> created:</p>
        <div class="events-container">
            <% @events.each do |event| %>
                <div class="event-container" >
                    <p class="title"><%= event.title %></p>
                    <p>Date: <%= event.date %></p>
                    <p>Time: <%= event.time.hour %>:<%= event.time.min %></p>
                    <p>People going: <%= event.attendees.count %></p>
                    <%= link_to "", controller: "events", action: "show", id: event.id %>
                </div>
            <% end %>
        </div>
    <% end %>
    <% if @attended_events.any? %>
        <p>Attended events:</p>
        <div class="events-container">
            
            <% @attended_events.each do |event| %>
                <div class="event-container" >
                        <p class="title"><%= event.title %></p>
                        <p>Date: <%= event.date %></p>
                        <p>Time: <%= event.time.hour %>:<%= event.time.min %></p>
                        <p>People going: <%= event.attendees.count %></p>
                        <p class="creator-link">Creator:
            <%= link_to controller: "users", action: "show", id: event.creator.id do %>
                <%= event.creator.username %>
            <% end %>
            </p>
                        <%= link_to "", controller: "events", action: "show", id: event.id %>
                    </div>
            <% end %>
        </div>
    <% end %>
</div>