<h1>Edit event</h1>
<%= form_with model: @event do |form| %>
    <% if @event.errors.any? %>
        <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <div>
        <%= form.label :title %>
        <%= form.text_field :title, autofocus: true %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :date %>
        <%= form.date_field :date %>
    </div>
    <div>
        <%= form.label :time %>
        <%= form.time_field :time %>
    </div>
    <%= form.submit "Edit event" %>
    <%= link_to "Delete event", event_path(@event), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<% end %>