<h1>Edit event</h1>
<%= form_with model: @event do |form| %>
    <% if @event.errors.any? %>
        <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <div>
        <%= form.label :title %> <br>
        <%= form.text_field :title, autofocus: true %>
    </div>
    <div>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :date %> <br>
        <%= form.date_field :date %>
    </div>
    <div>
        <%= form.label :time %><br>
        <%= form.time_field :time %>
    </div>
    <%= form.submit "Edit event", class: "save-btn" %>
    <div class="delete-btn">
        <%= link_to "Delete event", event_path(@event), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %>
    </div>
<% end %>