<h1>EVENTS</h1>
<div class="events-container">
    <% @events.each do |event| %>
        <div class="event-container" >
            <p class="title"><%= event.title %></p>
            <p>Date: <%= event.date %></p>
            <p>Time: <%= event.time.hour %>:<%= event.time.min %></p>
            <p>People going: <%= event.attendees.count %></p>
            <p class="creator-link">Creator:
            <%= link_to controller: "users", action: "show", id: event.creator.id do %>
                <%= event.creator.username %>
            <% end %>
            </p>
            <%= link_to "", controller: "events", action: "show", id: event.id %>
        </div>
    <% end %>
</div>
