<div class="profile-container">
    <h1><%= @event.title %></h1>
    <div>
        <% if user_signed_in?%>
        <% if @event.creator_id == current_user.id%>
            <%= link_to "Edit event", edit_event_path, class: "edit-btn" %>
        <% end %>
        <% end %>
    </div>
    <p class="description"><%= @event.description %></p>
    <p>Date: <%= @event.date %></p>
    <p>Time: <%= @event.time.hour %>:<%= @event.time.min %></p>
    <p class="creator-link">Creator:
    <%= link_to controller: "users", action: "show", id: @event.creator.id do %> 
        <%= @event.creator.username %>
    <% end %>
    </p>
    <p>People going: <%= @event.attendees.count %></p>
    <p>List of people who are going:</p>
    <ul class="attendee-list">
        <% @event.attendees.each do |attendee| %>
            <%= link_to controller: "users", action: "show", id: attendee.id do %> 
                <li><%= attendee.username %></li>
            <% end %>
        <% end %>
    </ul>
    <% if user_signed_in? %>
        <% if @event.attendee_ids.include?(current_user.id) %>
            <div class="delete-btn">
                <%= link_to "Remove yourself from event", controller: "attend_events", action: "destroy", event_id: @event.id %>
            </div>
        <% else %>
            <div class="save-btn">
                <%= link_to "Attend", controller: "attend_events", action: "add" , attendee_id: current_user.id, event_id: @event.id %> 
            </div>
        <% end %>
    <% end %>
</div>